.banner {
    background: #063b7a;
    /* color: #fff;
    padding: 50px 0; */
}
.banner p {
    /* color: rgba(255, 255, 255, .5); */
    font-size: 1.2em;
}

/* footer {
    text-align: center;
} */
